*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none ;
}

body{
    font-family: "poppins";
}

header{
    height: 100vh;
    width: 100vw;
    background-image:;
    background-size: cover;

}
.navbar{
    position: absolute;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background-color: blueviolet;
}
.navbar a {
    color:yellow;

}
.navbar .logo{
       font-size: 2em;
       font-weight: bold;
}
.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}
.navbar .nav-links ul li.active a {
    color: brown;
    font-weight: 600;
}

.navbar .menu-hamburger {
    position: absolute;
    display: none;
}

@media screen and (max-width: 850px){
    .nav-links{
        display: none;
    }
}
